@{
    ViewData["Title"] = "Nieuw wedstrijdschema";
}

@model CreateEventPageModel

<form class="container" method="post">
    <div class="row text-center mb-5">
        <div class="col mt-4">
            <div class="input-group input-group-lg">
                <input class="form-control text-center me-5 ms-5" type="text" asp-for="Name" placeholder="Nieuw wedstrijdschema" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col ms-5 me-5">
            <div class="row">
                <div class="col">
                    <h4>Datum:</h4>
                    <div class="input-group input-group-sm me-2">
                        <input class="form-control" asp-for="Date" type="text" placeholder="" />
                    </div>
                </div>
                <div class="col">
                    <h4>Tijdsduur:</h4>
                    <div class="d-flex">
                        <div class="input-group input-group-sm">
                            <input class="form-control" asp-for="StartTime" type="text" placeholder="" />
                        </div>
                        <h5 class="ms-2 me-2">tot</h5>
                        <div class="input-group input-group-sm">
                            <input class="form-control" asp-for="EndTime" type="text" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-dark mt-2">
                <div class="row ms-2 mt-2">
                    <div class="col ms-3">
                        <h5>
                            Onderdelen
                        </h5>
                    </div>
                    <div class="col ms-3">
                        <h5>
                            Tijd
                        </h5>
                    </div>
                </div>

                @for(int i = 0; i < Model.SelectedDisciplines.Count; i++)
                {
                    var discipline = Model.SelectedDisciplines[i];

                    <div class="row m-3 ms-2 mt-2">
                        <div class="col">
                            <select asp-for="SelectedDisciplines[i].Name">
                                @foreach(var option in Model.Disciplines)
                                {
                                    @if (discipline.Name == option.Name)
                                    {
                                        <option value="@option.Name" selected>@option.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@option.Name">@option.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col">
                            <input type="time" asp-for="SelectedDisciplines[i].StartTime" />
                        </div>
                        <div class="col">
                            <input type="time" asp-for="SelectedDisciplines[i].EndTime" />
                        </div>
                    </div> 
                }               
            </div>
            <div class="row">
                <input type="submit" asp-for="Action" value="New" class="mt-2" style="max-width:100px"/>
                <input type="submit" asp-for="Action" value="Save" class="mt-2 ms-1" style="max-width:100px" />
            </div>
        </div>
    </div>
</form>