@{
    ViewData["Title"] = "Nieuw trainingsschema";
}

@model CreateTrainingsPageModel

<div class="container">
    <form>
        <div class="row text-center mb-5">
            <div class="col mt-4">
                <div class="input-group input-group-lg">
                    <input class="form-control text-center me-5 ms-5" type="text" placeholder="Nieuw trainingsschema" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col ms-5 me-5">
                <div class="row">
                    <div class="col">
                        <h4>Datum:</h4>
                        <div class="input-group input-group-sm me-2">
                            <input class="form-control" type="text" placeholder="" />
                        </div>
                    </div>
                    <div class="col">
                        <h4>Tijdsduur:</h4>
                        <div class="d-flex">
                            <div class="input-group input-group-sm">
                                <input class="form-control" type="text" placeholder="" />
                            </div>
                            <h5 class="ms-2 me-2">tot</h5>
                            <div class="input-group input-group-sm">
                                <input class="form-control" type="text" placeholder="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row border border-dark mt-2">
                    <div class="row ms-2 mt-2">
                        <div class="col ms-2">
                            <h5>
                                Onderdelen
                            </h5>
                        </div>
                        <div class="col ms-2">
                            <h5>
                                Tijd
                            </h5>
                        </div>
                    </div>
                    <div class="row m-3 ms-2 mt-2">
                        <div class="col">
                            <ul class="list-group">
                                @{
                                    for (int i = 1; i <= 3; i++)
                                    {
                                        <li class="list-group-item me-2 ms-2">Oefening @i</li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-group">
                                @{
                                    for (int i = 1; i <= 3; i++)
                                    {
                                        <li class="list-group-item me-2 ms-2">1@(i):00</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col ms-5 me-5">
                <div class="row">
                    <h4>Onderdelen</h4>
                </div>
                <div class="row border border-dark">
                    <div class="row ms-1 mt-3 mb-3">
                        <ul class="list-group">
                            @{

                                foreach (AthleteTrack.Logic.Exercise exercise in Model.Exercises)
                                {
                                    <li style="max-width:300px" class="list-group-item py-1 me-1 ms-1">@exercise.Name</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div