@{
    ViewData["Title"] = "Nieuw trainingsschema";
}

@model CreateTrainingPageModel

<form class="container" method="post">
    <div class="row text-center mb-5">
        <div class="col mt-4">
            <div class="input-group input-group-lg">
                <input class="form-control text-center me-5 ms-5" type="text" asp-for="Name" placeholder="Nieuw trainingsschema" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col ms-5 me-5">
            <div class="row">
                <div class="col me-5 mb-3">
                    <h4>Tijdsduur:</h4>
                    <div class="d-flex">
                        <div class="input-group input-group-sm">
                            <input type="time" asp-for="StartTime" />
                        </div>
                        <h5 class="ms-2 me-2">tot</h5>
                        <div class="input-group input-group-sm">
                            <input type="time" asp-for="EndTime" />
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <hr>

            @for (int i = 0; i < Model.SelectedExercises.Count; i++)
            {
                var exercise = Model.SelectedExercises[i];

                <div class="row m-3 ms-2 mt-2">
                    <div class="col">
                        <div>Oefeningen:</div>
                        <select asp-for="SelectedExercises[i].Name">
                            @foreach (var option in Model.Exercises)
                            {
                                @if (exercise.Name == option.Name)
                                {
                                    <option value="@option.Name" selected>@option.Name</option>
                                }
                                else
                                {
                                    <option value="@option.Name">@option.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col">
                        <div>Tijdsduur:</div>
                        <input type="time" asp-for="SelectedExercises[i].Time" />
                    </div>
                    <div class="col">
                        <div>Herhalingen:</div>
                        <input type="number" asp-for="SelectedExercises[i].Repetitions" />
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <input type="submit" asp-for="Action" value="New" class="mt-2 btn btn-secondary" style="max-width:100px" />
            <input type="submit" asp-for="Action" value="Save" class="mt-2 ms-1 btn btn-secondary" style="max-width:100px" />
        </div>
    </div>
</form>