@{
    ViewData["Title"] = "NewExercise";
}

@model NewExerciseModel

<form class="container" method="post">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="row text-center">
            <div class="col mx-5">
                <div class="alert alert-danger">
                    @Model.ErrorMessage
                </div>
            </div>
        </div>
    }
    <div class="row text-center mb-3">
        <h1> Nieuwe oefening </h1>
    </div>
    <div class="row text-center mb-5">
        <div class="col mt-4">
            <h2>Naam</h2>
            <input class="form-control" type="text" asp-for="NewExercise.Name" />
            <div class="row m-0">
                <input type="submit" value="Submit" class="mt-2 btn btn-secondary" style="max-width:100px" />
            </div>
        </div>
        <div class="col mt-4">
            <h2>Beschrijving</h2>
            <textarea class="form-control" type="text" asp-for="NewExercise.Description"></textarea>
        </div>
    </div>
</form>