@{
    ViewData["Title"] = "Home Page";
}

@model HomeModel

<div class="text-center">
    <img class="mb-3" height="200px" src="~/img/FullLogoAthleteTrack.png"/>
    <div class="container text-center">
        <div class="row">
            <form class="col border-2" action="/" method="post">
                <input type="text" asp-for="Searchtext" placeholder="Zoek een schema..." />
                <button type="submit" class=" flex-grow-0 btn btn-dark"><img class="mb-1" height="15px" src="~/img/WhiteMagnifyingGlass.png" /></button>
            </form>
        </div>
        <div class="list-group row m-4">
            @foreach (var result in Model.Results)
            {
                <a href="/Schemapages/Wedstrijdschema?ID=@result.ID" class="list-group-item me-5 ms-5">@result.Name</a>
            }
        </div>
    </div>
</div>