@{
    ViewData["Title"] = "Home Page";
}

@model HomeModel

<div class="text-center">
    <div class="row">
        <div class="col"></div>
        <img class="col mb-3" height="200px" src="~/img/FullLogoAthleteTrack.png"/>
        <div class="col justify-content-end"><button class="m-2"><a class="text-dark" style="text-decoration : none" asp-area="" asp-controller="Schemapages" asp-action="CreateWedstrijdschema">Wedstrijd +</a></button><button class="m-2"><a class="text-dark" style="text-decoration : none" asp-area="" asp-controller="Schemapages" asp-action="CreateTrainingsschema">Training +</a></button></div>
    </div>
    <div class="container text-center">
        <div class="row">
            <form class="col border-2" action="/" method="post">
                <input type="text" asp-for="Searchtext" placeholder="Zoek een schema..." />
                <button type="submit" class=" flex-grow-0 btn btn-dark"><img class="mb-1" height="15px" src="~/img/WhiteMagnifyingGlass.png" /></button>
            </form>
        </div>
        <div class="list-group row m-4">
            @foreach (var result in Model.Results)
            {
                <a href="/Schemapages/@result.searchType?ID=@result.ID" class="list-group-item me-5 ms-5">@result.Name</a>
            }
        </div>
    </div>
</div>