@{
    ViewData["Title"] = "Home Page";
}

@model HomeModel

<div class="text-center">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img class="mb-3" height="200px" src="~/img/FullLogoAthleteTrack.png"/>
        </div>
        <div class="col">
            <div class="row justify-content-end">
                <button class="btn btn-light col flex-grow-0 text-nowrap m-1"><a asp-area="" asp-controller="Schemapages" asp-action="CreateTrainingsschema" style="text-decoration : none; color :#ffb263">Maak Training</a></button>
            </div>
            <div class="row justify-content-end">
                <button class="btn btn-light col flex-grow-0 text-nowrap m-1"><a asp-area="" asp-controller="Schemapages" asp-action="CreateWedstrijdschema" style="text-decoration : none; color :#ffb263">Maak Wedstrijd</a></button>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="row">
            <form class="col border-2" action="/" method="post">
                <input type="text" asp-for="Searchtext" placeholder="Zoek een schema..." />
                <button type="submit" class=" flex-grow-0 btn btn-dark"><img class="mb-1" height="15px" src="~/img/WhiteMagnifyingGlass.png" /></button>
            </form>
        </div>
        <div class="list-group row m-4">
            @foreach (var result in Model.Results)
            {
                <a href="/Schemapages/@result.searchType?ID=@result.ID" class="list-group-item me-5 ms-5">@result.Name</a>
            }
        </div>
    </div>
</div>